doctype
html
  head
    title #{title} - My Site
    
    block styles
      link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Gloria+Hallelujah|Alef')
      link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css')
      link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css')
      link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header
      h1 #{title}
    .container
      .main-content
        div
          a.btn.btn-primary.btn-lg(href='#start') Connect
         #peer-video
           .camera
              video(width="300", height="300", autoplay="")


      .sidebar
        p
          | Sed auctor neque eu tellus rhoncus ut
          | eleifend nibh porttitor. Ut in nulla enim.
        p
          | Vivamus hendrerit arcu sed erat molestie
          | vehicula.
          #user-video
            .camera
              video(width="200", height = "200", autoplay="")
    footer
      p Running on node with Express, Jade, and Peerjs

  block scripts
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js')
    script(src="http://cdn.peerjs.com/0.3/peer.min.js")
    script(src="/javascripts/client.js")
