doctype html
html
  head
    title Twilio Video - Video Quickstart
    |   
    link(rel="stylesheet", href='/stylesheets/test_video.css')
  body
    #remote-media
    |   
    #controls
      #preview
        p.instructions Hello Gorgeous
        |       
        #local-media
        |       
        button#button-preview Preview My Camera
        | 
        button#endoscope-enable Enable Endoscope
        |  
        #endoscope
    |   
    script(src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js")
    |   
    script(src="//media.twiliocdn.com/sdk/js/video/releases/1.0.0-beta5/twilio-video.js")
    |   
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    |  
    script(src="/javascripts/peer.js")
    | 
    script(src="/javascripts/client.js")